<!DOCTYPE html>
<html>
  <head>
    <title>DeviseSetup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
      <% if user_signed_in? %>
        <h1>Hello <%= current_user.email %></h1>
        <%= button_to "Logout", destroy_user_session_url, method: :delete, class: "btn btn-primary btn-block w-100" %>
      <% end %>
      <%= yield %>
      <% if !alert.nil? %>
        <div class="alert alert-warning" role="alert">
          <p id="alert"><%= alert %></p>
        </div>      
      <% end %>
    </div>
  </body>
</html>
